<!DOCTYPE html>
<html lang="en">
<head>
  <title>WiFound</title>
  <link rel="stylesheet" type ="text/css" href="/css/style.css">
</head>
<body>
    <nav class="topnav">
    <div class="nav-list">
      <ul>
        <li><a>WiFound</a></li>
        <li class="xx"><a href="#maps">Get Started</a></li>
        <li class="xx"><a href="#about">About</a></li>
        <li class="xx"><a href="#">Home</a></li>
      </ul>
    </div>
  </nav>

  <div style="display: none;" id="home"></div>
    <section class="home" id="">
      <div class="logo" style="margin-top: 80px;">
        <h1>WiFound</h1>
        <img src="img/wifound-logo.png" class="wifi" id="go-lower">
        <h3>Connecting Watts to the World.</h3>
      </div>
      <div class="watt">
        <img src="img/watts.jpg" class="watts">
      </div>

      </section>
      <div class="wrapper">
      <div class="mission-statement">
        <h2>Mission Statement</h2>
        <p>At Simon Tech HS in Watts, 60% of students don't have access to high speed internet at home. Having no internet or slow internet makes it difficult to do school projects and homework assignments. Our purpose in WiFound is to give users locations of free wifi access.</p>
      </div>
        <section class="map">
        <header id="maps">Get Started</header>
                </section>
          <div class="maps">
                <div class="realmap">
        <iframe width="100%" height="400" frameborder="0" scrolling="no" allowtransparency="true" src="https://mapalist.com/map/563282" ></iframe><p style="text-align: center;">This is a map with locations of places with free Wifi.</p>
      </div>
      <div class="some">
        <iframe src="https://docs.google.com/forms/d/1fJA9FvIujJ1Ai6-1fAM5jwFrB76wQT3VJDchn2JNIF8/viewform?embedded=true" width="560" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div><p style="text-align: center;">This form allows any person to upload the location of a free Wifi spot.</p>
            </div>

    <!-- About -->
      <section class="about">
        <header id="about">About</header>
        <h2>Meet the team</h2>
        <p>
       We come from the community of watts and attend Simon Technology High School. We got the privilege to learn coding for the past six months during these six months we have accomplished a lot of obstacles and have learned from our mistakes now we have made a huge improvement by creating application to websites. Our team hopes to keep on learning and making new websites and applications for good use.</p>
        <div class="e">
          <img class="team" src="img/we.jpeg">
        </div>
      </section>
      <br>
    </div>
  </body>
</html>